# LC3 DATA INTEGRITY CHECK

In [1]:
# Libraries for general data management
import pandas as pd
import numpy  as np

In [2]:
# Pandas display options customization
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 12)
#pd.set_option('display.width', 200)

In [3]:
# Input file path (can be also an excel)
DATA_MERGED_PATH = './data/data_merged.ods'
DATA_FULL_PATH   = './data/data_full.ods'

In [4]:
# Read merged data skipping the first row and considering also '-' as NaN
data_merged = pd.read_excel(DATA_MERGED_PATH, skiprows=[0], na_values=['-'])

In [5]:
# Read full data and remove empty lines
data_full = pd.read_excel(DATA_FULL_PATH,sheet_name='Clays_CS')
data_full.dropna(how="all", inplace=True)

In [6]:
# Mean of measurements for each clay
# data_full.groupby('Clay').mean()

In [7]:
# Std of measurements for each clay
# data_full.groupby('Clay').std()

In [8]:
# Number of measurements for each clay and each day/total for each day
# data_full.groupby('Clay').count()
# data_full.groupby('Clay').count().sum()

### Points that fails in mean coherence

* We have to look at the excel of the means with some suspicion, it is enough to get an idea, but not to take it as perfectly correct 
* B45 India 1, B45 India 3, Loma Sur, are very different in their average and std's every day
* Argex, Chile,Iran, it was tolerable(~1)
* Iran in day28 it seems to give a little more problems, but I insist on the idea that the excel of the averages is not reliable, and if we take into account that the average of only 2 measures does not give us as much security as in the case where the average would have been done with 4 or 5 measures, so I decide to leave it. For example in Iran G1 one of the measures is 56.06875 and the other 51.56875, so the average is somewhere in between these 2, if we had more measures it would give us more certainty. I have also checked in the big table that the values were well placed.
* Chile well copied values. Chile day28 its similar to Iran, we have 2 measures 58,8375 and 54,98125. the 7th and 90th also have two measurements and the average of only two measurements is not very rigorous either
* Argex day28 well copied values. Only 2 meassures.
* ChinaSCreened only fails on day 1, I have checked that the values were well copied. It is not a very very big difference 

* Holcim 4 Brazil, habia que tener cuidado, porque se hicieron 2 experimentos, hay Holcim 4 2, y estaba comparondolo con esos valores.

In [9]:
MAX_MEAN_DEVIATION = 1

In [10]:
data_merged_mean = data_merged[['Clay','1D','3D','7D','28D','90D']]

In [11]:
mean_check = pd.merge(data_full.groupby('Clay').mean(), data_merged_mean, on='Clay', how='inner')

In [12]:
mean_check[abs(mean_check['day_1'] - mean_check['1D']) > MAX_MEAN_DEVIATION][['Clay','day_1','1D']]

              Clay     day_1         1D
12  China Screened  9.857812  11.273438

In [13]:
mean_check[abs(mean_check['day_3'] - mean_check['3D']) > MAX_MEAN_DEVIATION][['Clay','day_3','3D']]

Empty DataFrame
Columns: [Clay, day_3, 3D]
Index: []

In [14]:
mean_check[abs(mean_check['day_7'] - mean_check['7D']) > MAX_MEAN_DEVIATION][['Clay','day_7','7D']]

       Clay     day_7         7D
11    Chile  40.90625  42.073108
37  Iran G1  35.50625  36.519072

In [15]:
mean_check[abs(mean_check['day_28'] - mean_check['28D']) > MAX_MEAN_DEVIATION][['Clay','day_28','28D']]

       Clay     day_28        28D
0     Argex  38.734375  41.275596
11    Chile  56.909375  60.642992
37  Iran G1  53.818750  57.349602
38  Iran G2  32.578125  34.715457
39  Iran Z1  53.209375  56.700249
40  Iran Z2  43.009375  45.831064

In [16]:
mean_check[abs(mean_check['day_90'] - mean_check['90D']) > MAX_MEAN_DEVIATION][['Clay','day_90','90D']]

       Clay     day_90        90D
11    Chile  59.381250  60.452803
39  Iran Z1  57.896875  58.941642

### Points that fails in std coherence

It only fails on day 7 F1 y on day 90 India 2. They can be errors of the average excel perfectly, I leave it as correct, because in the rest of the days there is no problem

In [17]:
MAX_STD_DEVIATION = 0.1

In [18]:
data_merged_std = data_merged[['Clay','STD','STD.1','STD.2','STD.3','STD.4']]

In [19]:
std_check = pd.merge(data_full.groupby('Clay').std(), data_merged_std, on='Clay', how='inner')

In [20]:
std_check[abs(std_check['day_1'] - std_check['STD']) > MAX_STD_DEVIATION][['Clay','day_1','STD']]

Empty DataFrame
Columns: [Clay, day_1, STD]
Index: []

In [21]:
std_check[abs(std_check['day_3'] - std_check['STD.1']) > MAX_STD_DEVIATION][['Clay','day_3','STD.1']]

Empty DataFrame
Columns: [Clay, day_3, STD.1]
Index: []

In [22]:
std_check[abs(std_check['day_7'] - std_check['STD.2']) > MAX_STD_DEVIATION][['Clay','day_7','STD.2']]

        Clay     day_7     STD.2
16        F1  0.141421  1.342461
28  Guinea 3  1.140262  1.274852

In [23]:
std_check[abs(std_check['day_28'] - std_check['STD.3']) > MAX_STD_DEVIATION][['Clay','day_28','STD.3']]

Empty DataFrame
Columns: [Clay, day_28, STD.3]
Index: []

In [24]:
std_check[abs(std_check['day_90'] - std_check['STD.4']) > MAX_STD_DEVIATION][['Clay','day_90','STD.4']]

Empty DataFrame
Columns: [Clay, day_90, STD.4]
Index: []