In [1]:
import numpy  as np
import pandas as pd

In [2]:
from proj1_helpers   import *
from implementations import *
from preprocessing   import *

In [3]:
DATA_TRAIN_PATH = '../data/train.csv'
DATA_TEST_PATH  = '../data/test.csv'

In [4]:
# Get data from file
y, tx, ids = load_csv_data(DATA_TRAIN_PATH)

##### Removing correlated features

In [5]:
corr_coefs = np.corrcoef(tx, y,False)

In [6]:
aux = np.where(corr_coefs>0.95)
[aux[1][i] for i in range(aux[0].shape[0]) if aux[0][i] < aux[1][i]]

[6, 12, 26, 27, 28, 12, 26, 27, 28, 29, 26, 27, 28, 24, 25, 25, 27, 28, 28]

In [7]:
pd.DataFrame(corr_coefs)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,1.000000,-0.455755,0.168548,0.198765,0.162661,0.160524,0.162521,0.228105,0.045826,0.201464,...,0.221984,0.221078,0.250158,0.247083,0.247078,0.162836,0.162614,0.162609,0.185372,0.239149
1,-0.455755,1.000000,0.190109,-0.249116,-0.176386,-0.190392,-0.175942,0.043251,0.017758,-0.146837,...,-0.167811,-0.210537,-0.229674,-0.220370,-0.220355,-0.176837,-0.176231,-0.176225,-0.210009,-0.351428
2,0.168548,0.190109,1.000000,-0.062562,-0.032251,-0.040620,-0.032126,0.579712,-0.000702,0.088685,...,0.053300,-0.026860,-0.019151,-0.013749,-0.013742,-0.033188,-0.032202,-0.032206,-0.052902,-0.014055
3,0.198765,-0.249116,-0.062562,1.000000,0.523664,0.534531,0.523639,-0.539379,0.310501,0.832733,...,0.782547,0.623401,0.621599,0.564898,0.564894,0.531647,0.523714,0.523703,0.808616,0.192526
4,0.162661,-0.176386,-0.032251,0.523664,1.000000,0.946045,0.999981,-0.299076,0.270878,0.671996,...,0.619100,0.867521,0.545027,0.521657,0.521664,0.999346,0.999995,0.999996,0.712446,0.141646
5,0.160524,-0.190392,-0.040620,0.534531,0.946045,1.000000,0.944443,-0.303751,0.247771,0.680700,...,0.617057,0.814191,0.521645,0.493233,0.493241,0.947652,0.945505,0.945507,0.719962,0.191766
6,0.162521,-0.175942,-0.032126,0.523639,0.999981,0.944443,1.000000,-0.299083,0.271435,0.672158,...,0.619388,0.867741,0.545022,0.521653,0.521661,0.999347,0.999988,0.999989,0.712620,0.140554
7,0.228105,0.043251,0.579712,-0.539379,-0.299076,-0.303751,-0.299083,1.000000,-0.148081,-0.432603,...,-0.407002,-0.347904,-0.335851,-0.304161,-0.304145,-0.303416,-0.299107,-0.299101,-0.448737,0.012245
8,0.045826,0.017758,-0.000702,0.310501,0.270878,0.247771,0.271435,-0.148081,1.000000,0.381160,...,0.448925,0.360409,0.202920,0.186564,0.186590,0.279203,0.271100,0.271091,0.403382,-0.015287
9,0.201464,-0.146837,0.088685,0.832733,0.671996,0.680700,0.672158,-0.432603,0.381160,1.000000,...,0.904481,0.758503,0.638796,0.578616,0.578621,0.687465,0.672125,0.672114,0.965628,0.153236
10,-0.017073,0.349504,0.097490,0.089187,0.041307,0.027674,0.041614,0.047046,0.039193,0.108791,...,0.049904,0.056312,0.049090,0.043323,0.043314,0.042551,0.041435,0.041436,0.079116,-0.195398
11,0.358963,-0.419757,-0.090846,0.539356,0.368492,0.369803,0.368177,-0.205441,0.178448,0.420679,...,0.423363,0.490057,0.548613,0.534409,0.534399,0.369593,0.368390,0.368381,0.452224,0.271752
12,0.162623,-0.176262,-0.032220,0.523720,0.999998,0.945584,0.999990,-0.299115,0.271058,0.672116,...,0.619254,0.867599,0.545035,0.521658,0.521665,0.999355,0.999997,0.999998,0.712568,0.141346
13,0.131495,-0.145464,0.290011,0.407421,0.188086,0.204106,0.187936,-0.202035,0.095754,0.485847,...,0.448763,0.205604,0.199011,0.170910,0.170919,0.191676,0.188059,0.188049,0.321341,0.235238
14,0.002579,-0.002109,0.002127,0.001665,0.004866,0.003584,0.004880,0.003632,0.003596,0.002037,...,0.002841,0.007468,0.009043,0.009792,0.009328,0.004797,0.005065,0.004872,0.003763,-0.000943
15,-0.006177,0.001132,-0.003624,0.005248,0.003302,0.003321,0.003309,-0.011229,0.001452,0.003931,...,0.005214,0.003040,0.003696,0.003367,0.002949,0.003382,0.003308,0.003186,0.004844,-0.004403
16,0.099445,0.310648,0.405482,0.360939,0.168039,0.164026,0.168270,-0.069957,0.109617,0.460938,...,0.358488,0.195738,0.183276,0.158860,0.158857,0.171792,0.168157,0.168156,0.295108,-0.031948
17,0.010060,-0.006777,0.002196,0.008354,0.008678,0.007602,0.008692,0.000699,0.007987,0.008781,...,0.010231,0.016054,0.020687,0.021661,0.021159,0.008649,0.008887,0.008689,0.010278,0.001516
18,-0.000744,0.000340,-0.002018,-0.002923,0.000069,-0.000596,0.000070,-0.000776,-0.004249,-0.001892,...,-0.005706,-0.000040,0.000214,0.000544,-0.000104,-0.000003,0.000062,-0.000094,-0.002270,0.004125
19,-0.233724,0.183716,-0.087330,0.679585,0.305561,0.318497,0.305678,-0.402345,0.269739,0.520129,...,0.486252,0.334922,0.299557,0.252509,0.252520,0.312844,0.305655,0.305645,0.535217,0.022466
20,0.007411,-0.015925,-0.001467,0.008585,0.005245,0.005167,0.005254,-0.001570,0.002515,0.006712,...,0.004654,0.006575,0.006805,0.006455,0.005803,0.005311,0.005238,0.005099,0.007076,0.007475
21,0.221984,-0.167811,0.053300,0.782547,0.619100,0.617057,0.619388,-0.407002,0.448925,0.904481,...,1.000000,0.705882,0.595121,0.541377,0.541389,0.633111,0.619272,0.619264,0.884413,0.135520
22,0.221078,-0.210537,-0.026860,0.623401,0.867521,0.814191,0.867741,-0.347904,0.360409,0.758503,...,0.705882,1.000000,0.832493,0.817360,0.817367,0.869621,0.867614,0.867610,0.804326,0.133549
23,0.250158,-0.229674,-0.019151,0.621599,0.545027,0.521645,0.545022,-0.335851,0.202920,0.638796,...,0.595121,0.832493,1.000000,0.996100,0.996100,0.546079,0.545033,0.545033,0.667325,0.157604
24,0.247083,-0.220370,-0.013749,0.564898,0.521657,0.493233,0.521653,-0.304161,0.186564,0.578616,...,0.541377,0.817360,0.996100,1.000000,0.999992,0.521322,0.521656,0.521657,0.608205,0.150469
25,0.247078,-0.220355,-0.013742,0.564894,0.521664,0.493241,0.521661,-0.304145,0.186590,0.578621,...,0.541389,0.817367,0.996100,0.999992,1.000000,0.521329,0.521664,0.521664,0.608210,0.150468
26,0.162836,-0.176837,-0.033188,0.531647,0.999346,0.947652,0.999347,-0.303416,0.279203,0.687465,...,0.633111,0.869621,0.546079,0.521322,0.521329,1.000000,0.999352,0.999352,0.729042,0.140714
27,0.162614,-0.176231,-0.032202,0.523714,0.999995,0.945505,0.999988,-0.299107,0.271100,0.672125,...,0.619272,0.867614,0.545033,0.521656,0.521664,0.999352,1.000000,0.999995,0.712577,0.141265
28,0.162609,-0.176225,-0.032206,0.523703,0.999996,0.945507,0.999989,-0.299101,0.271091,0.672114,...,0.619264,0.867610,0.545033,0.521657,0.521664,0.999352,0.999995,1.000000,0.712568,0.141256
29,0.185372,-0.210009,-0.052902,0.808616,0.712446,0.719962,0.712620,-0.448737,0.403382,0.965628,...,0.884413,0.804326,0.667325,0.608205,0.608210,0.729042,0.712577,0.712568,1.000000,0.134296
30,0.239149,-0.351428,-0.014055,0.192526,0.141646,0.191766,0.140554,0.012245,-0.015287,0.153236,...,0.135520,0.133549,0.157604,0.150469,0.150468,0.140714,0.141265,0.141256,0.134296,1.000000

In [8]:
np.where(corr_coefs > 0.95)

(array([ 0,  1,  2,  3,  4,  4,  4,  4,  4,  4,  5,  6,  6,  6,  6,  6,  6,
         7,  8,  9,  9, 10, 11, 12, 12, 12, 12, 12, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 23, 23, 24, 24, 24, 25, 25, 25, 26, 26, 26,
        26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29,
        30]),
 array([ 0,  1,  2,  3,  4,  6, 12, 26, 27, 28,  5,  4,  6, 12, 26, 27, 28,
         7,  8,  9, 29, 10, 11,  4,  6, 12, 26, 27, 28, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 23, 24, 25, 23, 24, 25,  4,  6, 12,
        26, 27, 28,  4,  6, 12, 26, 27, 28,  4,  6, 12, 26, 27, 28,  9, 29,
        30]))

In [9]:
tx = remove_highly_correlated_features(y, tx, 0.95)

In [10]:
corr_coefs = np.corrcoef(tx, y,False)
pd.DataFrame(corr_coefs)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1.000000,-0.455755,0.168548,0.198765,0.162661,0.160524,0.228105,0.045826,0.201464,-0.017073,...,-0.006177,0.099445,0.010060,-0.000744,-0.233724,0.007411,0.221984,0.221078,0.250158,0.239149
1,-0.455755,1.000000,0.190109,-0.249116,-0.176386,-0.190392,0.043251,0.017758,-0.146837,0.349504,...,0.001132,0.310648,-0.006777,0.000340,0.183716,-0.015925,-0.167811,-0.210537,-0.229674,-0.351428
2,0.168548,0.190109,1.000000,-0.062562,-0.032251,-0.040620,0.579712,-0.000702,0.088685,0.097490,...,-0.003624,0.405482,0.002196,-0.002018,-0.087330,-0.001467,0.053300,-0.026860,-0.019151,-0.014055
3,0.198765,-0.249116,-0.062562,1.000000,0.523664,0.534531,-0.539379,0.310501,0.832733,0.089187,...,0.005248,0.360939,0.008354,-0.002923,0.679585,0.008585,0.782547,0.623401,0.621599,0.192526
4,0.162661,-0.176386,-0.032251,0.523664,1.000000,0.946045,-0.299076,0.270878,0.671996,0.041307,...,0.003302,0.168039,0.008678,0.000069,0.305561,0.005245,0.619100,0.867521,0.545027,0.141646
5,0.160524,-0.190392,-0.040620,0.534531,0.946045,1.000000,-0.303751,0.247771,0.680700,0.027674,...,0.003321,0.164026,0.007602,-0.000596,0.318497,0.005167,0.617057,0.814191,0.521645,0.191766
6,0.228105,0.043251,0.579712,-0.539379,-0.299076,-0.303751,1.000000,-0.148081,-0.432603,0.047046,...,-0.011229,-0.069957,0.000699,-0.000776,-0.402345,-0.001570,-0.407002,-0.347904,-0.335851,0.012245
7,0.045826,0.017758,-0.000702,0.310501,0.270878,0.247771,-0.148081,1.000000,0.381160,0.039193,...,0.001452,0.109617,0.007987,-0.004249,0.269739,0.002515,0.448925,0.360409,0.202920,-0.015287
8,0.201464,-0.146837,0.088685,0.832733,0.671996,0.680700,-0.432603,0.381160,1.000000,0.108791,...,0.003931,0.460938,0.008781,-0.001892,0.520129,0.006712,0.904481,0.758503,0.638796,0.153236
9,-0.017073,0.349504,0.097490,0.089187,0.041307,0.027674,0.047046,0.039193,0.108791,1.000000,...,0.000004,0.701142,0.002357,-0.005053,0.053386,-0.001186,0.049904,0.056312,0.049090,-0.195398
10,0.358963,-0.419757,-0.090846,0.539356,0.368492,0.369803,-0.205441,0.178448,0.420679,-0.038803,...,-0.001557,0.054047,0.012423,0.000278,0.180756,0.009896,0.423363,0.490057,0.548613,0.271752
11,0.131495,-0.145464,0.290011,0.407421,0.188086,0.204106,-0.202035,0.095754,0.485847,-0.474633,...,0.000822,0.104553,0.000053,0.003052,0.176665,0.003296,0.448763,0.205604,0.199011,0.235238
12,0.002579,-0.002109,0.002127,0.001665,0.004866,0.003584,0.003632,0.003596,0.002037,0.000611,...,-0.001322,-0.003330,0.557086,0.001705,0.000576,0.000582,0.002841,0.007468,0.009043,-0.000943
13,-0.006177,0.001132,-0.003624,0.005248,0.003302,0.003321,-0.011229,0.001452,0.003931,0.000004,...,1.000000,-0.001737,-0.003923,-0.207026,0.006131,0.032923,0.005214,0.003040,0.003696,-0.004403
14,0.099445,0.310648,0.405482,0.360939,0.168039,0.164026,-0.069957,0.109617,0.460938,0.701142,...,-0.001737,1.000000,0.000337,-0.002936,0.170545,0.000417,0.358488,0.195738,0.183276,-0.031948
15,0.010060,-0.006777,0.002196,0.008354,0.008678,0.007602,0.000699,0.007987,0.008781,0.002357,...,-0.003923,0.000337,1.000000,0.000890,0.000853,0.001765,0.010231,0.016054,0.020687,0.001516
16,-0.000744,0.000340,-0.002018,-0.002923,0.000069,-0.000596,-0.000776,-0.004249,-0.001892,-0.005053,...,-0.207026,-0.002936,0.000890,1.000000,-0.002168,0.023157,-0.005706,-0.000040,0.000214,0.004125
17,-0.233724,0.183716,-0.087330,0.679585,0.305561,0.318497,-0.402345,0.269739,0.520129,0.053386,...,0.006131,0.170545,0.000853,-0.002168,1.000000,0.000842,0.486252,0.334922,0.299557,0.022466
18,0.007411,-0.015925,-0.001467,0.008585,0.005245,0.005167,-0.001570,0.002515,0.006712,-0.001186,...,0.032923,0.000417,0.001765,0.023157,0.000842,1.000000,0.004654,0.006575,0.006805,0.007475
19,0.221984,-0.167811,0.053300,0.782547,0.619100,0.617057,-0.407002,0.448925,0.904481,0.049904,...,0.005214,0.358488,0.010231,-0.005706,0.486252,0.004654,1.000000,0.705882,0.595121,0.135520
20,0.221078,-0.210537,-0.026860,0.623401,0.867521,0.814191,-0.347904,0.360409,0.758503,0.056312,...,0.003040,0.195738,0.016054,-0.000040,0.334922,0.006575,0.705882,1.000000,0.832493,0.133549
21,0.250158,-0.229674,-0.019151,0.621599,0.545027,0.521645,-0.335851,0.202920,0.638796,0.049090,...,0.003696,0.183276,0.020687,0.000214,0.299557,0.006805,0.595121,0.832493,1.000000,0.157604
22,0.239149,-0.351428,-0.014055,0.192526,0.141646,0.191766,0.012245,-0.015287,0.153236,-0.195398,...,-0.004403,-0.031948,0.001516,0.004125,0.022466,0.007475,0.135520,0.133549,0.157604,1.000000

##### Removing features with MV

In [11]:
pd.DataFrame(np.count_nonzero(tx == -999, axis=0)/tx.shape[0]>0.7)

        0
0   False
1   False
2   False
3   False
4    True
5    True
6   False
7   False
8   False
9   False
10  False
11  False
12  False
13  False
14  False
15  False
16  False
17  False
18  False
19  False
20  False
21  False

In [12]:
pd.DataFrame(np.delete(tx,np.where((np.count_nonzero(tx == -999, axis=0)/tx.shape[0]>0.7)==True),axis=1))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,138.470,51.655,97.827,27.980,3.064,41.928,197.760,1.582,1.396,32.638,1.017,0.381,51.626,2.273,-2.414,16.824,-0.277,258.733,2.0,67.435
1,160.937,68.768,103.235,48.146,3.473,2.078,125.157,0.879,1.414,42.014,2.039,-3.011,36.918,0.501,0.103,44.704,-1.916,164.546,1.0,46.226
2,-999.000,162.172,125.953,35.635,3.148,9.336,197.814,3.776,1.414,32.154,-0.705,-2.093,121.409,-0.953,1.052,54.283,-2.186,260.414,1.0,44.251
3,143.905,81.417,80.943,0.414,3.310,0.414,75.968,2.354,-1.285,22.647,-1.655,0.010,53.321,-0.522,-3.100,31.082,0.060,86.062,0.0,-999.000
4,175.864,16.915,134.805,16.405,3.891,16.405,57.983,1.056,-1.385,28.209,-2.197,-2.231,29.774,0.798,1.569,2.723,-0.871,53.131,0.0,-999.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,-999.000,71.989,36.548,5.042,1.392,5.042,55.892,1.258,-1.414,24.754,-0.414,-0.905,31.137,-0.950,0.380,46.520,2.859,144.665,0.0,-999.000
249996,-999.000,58.179,68.083,22.439,2.585,22.439,50.618,1.162,-1.345,23.416,-1.609,2.776,27.202,0.308,1.042,46.737,-0.867,80.408,0.0,-999.000
249997,105.457,60.526,75.839,39.757,2.390,22.183,120.462,1.202,0.529,35.636,-0.266,-3.132,42.834,0.381,0.851,23.419,-2.890,198.907,1.0,41.992
249998,94.951,19.362,68.812,13.504,3.365,13.504,55.859,0.999,1.414,27.944,-2.211,2.792,27.915,-0.874,-0.296,12.150,0.811,112.718,0.0,-999.000
249999,-999.000,72.756,70.831,7.479,2.025,7.479,83.240,0.936,-1.411,43.003,1.685,2.653,40.236,1.490,0.637,40.729,-1.596,99.405,0.0,-999.000

In [13]:
np.count_nonzero(tx == -999, axis=1)/tx.shape[0]

array([0.0e+00, 8.0e-06, 1.2e-05, ..., 8.0e-06, 1.2e-05, 1.6e-05])

In [14]:
tx = np.delete(tx, np.where((np.count_nonzero(tx == -999, axis=1)/tx.shape[0]>0.5)==True), axis=0)

In [15]:
pd.DataFrame(np.count_nonzero(tx == -999, axis=0)/tx.shape[0])

           0
0   0.152456
1   0.000000
2   0.000000
3   0.000000
4   0.709828
5   0.709828
6   0.000000
7   0.000000
8   0.000000
9   0.000000
10  0.000000
11  0.000000
12  0.000000
13  0.000000
14  0.000000
15  0.000000
16  0.000000
17  0.000000
18  0.000000
19  0.000000
20  0.000000
21  0.399652

In [16]:
tx = remove_features_with_MV(y,tx,-999, 0.7)

In [17]:
pd.DataFrame(tx).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,-49.023079,49.239819,81.181982,57.895962,2.373100,18.917332,158.432217,1.437609,-0.128305,38.707419,-0.010973,-0.008171,46.660207,-0.019507,0.043543,41.717235,-0.010119,209.797178,0.979176,-348.329567
std,406.345647,35.344886,40.828691,63.655682,0.782911,22.273494,115.706115,0.844743,1.193585,22.412081,1.214079,1.816763,22.064922,1.264982,1.816611,32.894693,1.812223,126.499506,0.977426,532.962789
min,-999.000000,0.000000,6.329000,0.000000,0.208000,0.000000,46.104000,0.047000,-1.414000,20.000000,-2.499000,-3.142000,26.000000,-2.505000,-3.142000,0.109000,-3.142000,13.678000,0.000000,-999.000000
25%,78.100750,19.241000,59.388750,14.068750,1.810000,2.841000,77.550000,0.883000,-1.371000,24.591750,-0.925000,-1.575000,32.375000,-1.014000,-1.522000,21.398000,-1.575000,123.017500,0.000000,-999.000000
50%,105.012000,46.524000,73.752000,38.467500,2.491500,12.315500,120.664500,1.280000,-0.356000,31.804000,-0.023000,-0.033000,40.516000,-0.045000,0.086000,34.802000,-0.024000,179.739000,1.000000,38.960000
75%,130.606250,73.598000,92.259000,79.169000,2.961000,27.591000,200.478250,1.777000,1.225000,45.017000,0.898000,1.565000,53.390000,0.959000,1.618000,51.895000,1.561000,263.379250,2.000000,75.349000
max,1192.026000,690.075000,1349.351000,2834.999000,5.684000,2834.999000,1852.462000,19.773000,1.414000,764.408000,2.497000,3.142000,560.271000,2.503000,3.142000,2842.617000,3.142000,2003.976000,3.000000,1120.573000

In [18]:
pd.DataFrame(np.count_nonzero(tx == -999, axis=0)/tx.shape[0])

           0
0   0.152456
1   0.000000
2   0.000000
3   0.000000
4   0.000000
5   0.000000
6   0.000000
7   0.000000
8   0.000000
9   0.000000
10  0.000000
11  0.000000
12  0.000000
13  0.000000
14  0.000000
15  0.000000
16  0.000000
17  0.000000
18  0.000000
19  0.399652

##### Removing points with MV

In [19]:
(np.count_nonzero(tx == -999, axis=1)>0)

array([False, False,  True, ..., False,  True,  True])

In [20]:
idx = np.where((np.count_nonzero(tx == -999, axis=1)>0))

In [21]:
pd.DataFrame(np.delete(tx, idx, axis=0)).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,138096.000000,138096.000000,138096.000000,138096.000000,138096.000000,138096.000000,138096.000000,138096.000000,138096.000000,138096.00000,138096.000000,138096.000000,138096.000000,138096.000000,138096.00000,138096.000000,138096.000000,138096.000000,138096.000000,138096.000000
mean,122.494858,38.011279,80.331503,89.092456,2.179998,21.751239,215.740221,1.457068,0.496388,42.25014,-0.004524,-0.004522,49.547634,0.001049,0.04427,45.741170,0.002623,269.360979,1.643038,86.212482
std,60.043466,30.933414,40.827064,67.428692,0.767418,23.474133,121.702819,0.976873,1.013750,25.87531,1.196147,1.816185,25.364150,1.226318,1.81549,36.523426,1.813343,131.407661,0.727425,61.552110
min,9.806000,0.000000,7.202000,0.000000,0.224000,0.000000,77.017000,0.047000,-1.414000,20.00000,-2.498000,-3.141000,26.000000,-2.489000,-3.14200,0.200000,-3.142000,21.066000,1.000000,30.000000
25%,92.743000,12.675750,58.884750,42.958750,1.604000,3.396000,131.398750,0.812000,-0.263000,25.74900,-0.902000,-1.568000,32.793000,-0.934000,-1.51800,23.114500,-1.564000,179.689500,1.000000,45.115000
50%,112.831000,30.803000,72.571500,69.304500,2.212000,17.917000,181.144000,1.233000,1.002000,34.32800,-0.014000,-0.024000,41.901000,0.001000,0.08700,36.967500,0.001000,240.135500,1.000000,66.765000
75%,134.684000,57.707000,90.318250,114.179000,2.754000,30.619000,260.816500,1.817000,1.343000,49.47425,0.892000,1.570000,57.577000,0.935000,1.61500,55.901250,1.573000,325.372250,2.000000,105.292250
max,1192.026000,594.287000,959.601000,1053.807000,5.655000,466.525000,1852.462000,19.773000,1.414000,622.86200,2.497000,3.142000,461.896000,2.502000,3.14200,951.363000,3.142000,2003.976000,3.000000,1120.573000

In [22]:
tx = remove_points_with_MV(y, tx, -999)

TypeError: where() got an unexpected keyword argument 'axis'

In [23]:
pd.DataFrame(tx).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,-49.023079,49.239819,81.181982,57.895962,2.373100,18.917332,158.432217,1.437609,-0.128305,38.707419,-0.010973,-0.008171,46.660207,-0.019507,0.043543,41.717235,-0.010119,209.797178,0.979176,-348.329567
std,406.345647,35.344886,40.828691,63.655682,0.782911,22.273494,115.706115,0.844743,1.193585,22.412081,1.214079,1.816763,22.064922,1.264982,1.816611,32.894693,1.812223,126.499506,0.977426,532.962789
min,-999.000000,0.000000,6.329000,0.000000,0.208000,0.000000,46.104000,0.047000,-1.414000,20.000000,-2.499000,-3.142000,26.000000,-2.505000,-3.142000,0.109000,-3.142000,13.678000,0.000000,-999.000000
25%,78.100750,19.241000,59.388750,14.068750,1.810000,2.841000,77.550000,0.883000,-1.371000,24.591750,-0.925000,-1.575000,32.375000,-1.014000,-1.522000,21.398000,-1.575000,123.017500,0.000000,-999.000000
50%,105.012000,46.524000,73.752000,38.467500,2.491500,12.315500,120.664500,1.280000,-0.356000,31.804000,-0.023000,-0.033000,40.516000,-0.045000,0.086000,34.802000,-0.024000,179.739000,1.000000,38.960000
75%,130.606250,73.598000,92.259000,79.169000,2.961000,27.591000,200.478250,1.777000,1.225000,45.017000,0.898000,1.565000,53.390000,0.959000,1.618000,51.895000,1.561000,263.379250,2.000000,75.349000
max,1192.026000,690.075000,1349.351000,2834.999000,5.684000,2834.999000,1852.462000,19.773000,1.414000,764.408000,2.497000,3.142000,560.271000,2.503000,3.142000,2842.617000,3.142000,2003.976000,3.000000,1120.573000

In [24]:
pd.DataFrame(y).describe()

                   0
count  250000.000000
mean       -0.314664
std         0.949205
min        -1.000000
25%        -1.000000
50%        -1.000000
75%         1.000000
max         1.000000

##### Replacing MV with average

In [25]:
np.average(remove_points_with_MV(y,tx,-999), axis=0)

TypeError: where() got an unexpected keyword argument 'axis'

In [26]:
pd.DataFrame(tx)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,138.470,51.655,97.827,27.980,3.064,41.928,197.760,1.582,1.396,32.638,1.017,0.381,51.626,2.273,-2.414,16.824,-0.277,258.733,2.0,67.435
1,160.937,68.768,103.235,48.146,3.473,2.078,125.157,0.879,1.414,42.014,2.039,-3.011,36.918,0.501,0.103,44.704,-1.916,164.546,1.0,46.226
2,-999.000,162.172,125.953,35.635,3.148,9.336,197.814,3.776,1.414,32.154,-0.705,-2.093,121.409,-0.953,1.052,54.283,-2.186,260.414,1.0,44.251
3,143.905,81.417,80.943,0.414,3.310,0.414,75.968,2.354,-1.285,22.647,-1.655,0.010,53.321,-0.522,-3.100,31.082,0.060,86.062,0.0,-999.000
4,175.864,16.915,134.805,16.405,3.891,16.405,57.983,1.056,-1.385,28.209,-2.197,-2.231,29.774,0.798,1.569,2.723,-0.871,53.131,0.0,-999.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,-999.000,71.989,36.548,5.042,1.392,5.042,55.892,1.258,-1.414,24.754,-0.414,-0.905,31.137,-0.950,0.380,46.520,2.859,144.665,0.0,-999.000
249996,-999.000,58.179,68.083,22.439,2.585,22.439,50.618,1.162,-1.345,23.416,-1.609,2.776,27.202,0.308,1.042,46.737,-0.867,80.408,0.0,-999.000
249997,105.457,60.526,75.839,39.757,2.390,22.183,120.462,1.202,0.529,35.636,-0.266,-3.132,42.834,0.381,0.851,23.419,-2.890,198.907,1.0,41.992
249998,94.951,19.362,68.812,13.504,3.365,13.504,55.859,0.999,1.414,27.944,-2.211,2.792,27.915,-0.874,-0.296,12.150,0.811,112.718,0.0,-999.000
249999,-999.000,72.756,70.831,7.479,2.025,7.479,83.240,0.936,-1.411,43.003,1.685,2.653,40.236,1.490,0.637,40.729,-1.596,99.405,0.0,-999.000

In [27]:
tx - np.mean(tx, axis=0)

array([[ 1.87493079e+02,  2.41518072e+00,  1.66450184e+01, ...,
         4.89358224e+01,  1.02082400e+00,  4.15764567e+02],
       [ 2.09960079e+02,  1.95281807e+01,  2.20530184e+01, ...,
        -4.52511776e+01,  2.08240000e-02,  3.94555567e+02],
       [-9.49976921e+02,  1.12932181e+02,  4.47710184e+01, ...,
         5.06168224e+01,  2.08240000e-02,  3.92580567e+02],
       ...,
       [ 1.54480079e+02,  1.12861807e+01, -5.34298161e+00, ...,
        -1.08901776e+01,  2.08240000e-02,  3.90321567e+02],
       [ 1.43974079e+02, -2.98778193e+01, -1.23699816e+01, ...,
        -9.70791776e+01, -9.79176000e-01, -6.50670433e+02],
       [-9.49976921e+02,  2.35161807e+01, -1.03509816e+01, ...,
        -1.10392178e+02, -9.79176000e-01, -6.50670433e+02]])

##### Removing outliers

In [28]:
np.std(tx)

186.32065567804756

##### Standarization

In [29]:
np.std(tx, axis=0)

array([406.34483401,  35.34481492,  40.82860887,  63.65555431,
         0.78290955,  22.2734492 , 115.70588372,   0.84474126,
         1.19358245,  22.41203584,   1.21407622,   1.81675941,
        22.06487828,   1.26497962,   1.81660763,  32.8946274 ,
         1.81221908, 126.49925272,   0.97742435, 532.96172343])

In [30]:
pd.DataFrame((tx - np.mean(tx,axis=0))/np.std(tx,axis=0)).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05,2.500000e+05
mean,-2.165734e-17,4.193623e-17,-3.436185e-17,4.411049e-17,-5.145466e-16,-4.546337e-16,-1.032276e-16,3.732623e-16,-3.555556e-17,4.053504e-16,1.330136e-17,4.212097e-17,-5.944685e-16,1.355716e-17,3.649347e-17,-3.885816e-16,-2.299316e-17,-4.523883e-16,1.119815e-17,3.467449e-18
std,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00
min,-2.337859e+00,-1.393127e+00,-1.833346e+00,-9.095194e-01,-2.765453e+00,-8.493221e-01,-9.708082e-01,-1.646196e+00,-1.077173e+00,-8.347041e-01,-2.049317e+00,-1.724955e+00,-9.363391e-01,-1.964848e+00,-1.753567e+00,-1.264895e+00,-1.728202e+00,-1.550358e+00,-1.001792e+00,-1.220858e+00
25%,3.128472e-01,-8.487474e-01,-5.337736e-01,-6.885057e-01,-7.192400e-01,-7.217711e-01,-6.990329e-01,-6.565436e-01,-1.041147e+00,-6.298254e-01,-7.528580e-01,-8.624306e-01,-6.474184e-01,-7.861728e-01,-8.617948e-01,-6.177068e-01,-8.635164e-01,-6.860094e-01,-1.001792e+00,-1.220858e+00
50%,3.790748e-01,-7.683784e-02,-1.819798e-01,-3.052124e-01,1.512310e-01,-2.963992e-01,-3.264114e-01,-1.865772e-01,-1.907663e-01,-3.080228e-01,-9.906258e-03,-1.366660e-02,-2.784610e-01,-2.015252e-02,2.337161e-02,-2.102238e-01,-7.659564e-03,-2.376155e-01,2.130497e-02,7.266743e-01
75%,4.420613e-01,6.891585e-01,2.713053e-01,3.341898e-01,7.509171e-01,3.894173e-01,3.633872e-01,4.017687e-01,1.133818e+00,2.815264e-01,7.486952e-01,8.659215e-01,3.050002e-01,7.735362e-01,8.667018e-01,3.094051e-01,8.669588e-01,4.235762e-01,1.044402e+00,7.949512e-01
max,3.054177e+00,1.813095e+01,3.106079e+01,4.362703e+01,4.228969e+00,1.264322e+02,1.464083e+01,2.170533e+01,1.292164e+00,3.237995e+01,2.065746e+00,1.733951e+00,2.327730e+01,1.994109e+00,1.705628e+00,8.514764e+01,1.739370e+00,1.418332e+01,2.067499e+00,2.756113e+00

In [31]:
pd.DataFrame(tx)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,138.470,51.655,97.827,27.980,3.064,41.928,197.760,1.582,1.396,32.638,1.017,0.381,51.626,2.273,-2.414,16.824,-0.277,258.733,2.0,67.435
1,160.937,68.768,103.235,48.146,3.473,2.078,125.157,0.879,1.414,42.014,2.039,-3.011,36.918,0.501,0.103,44.704,-1.916,164.546,1.0,46.226
2,-999.000,162.172,125.953,35.635,3.148,9.336,197.814,3.776,1.414,32.154,-0.705,-2.093,121.409,-0.953,1.052,54.283,-2.186,260.414,1.0,44.251
3,143.905,81.417,80.943,0.414,3.310,0.414,75.968,2.354,-1.285,22.647,-1.655,0.010,53.321,-0.522,-3.100,31.082,0.060,86.062,0.0,-999.000
4,175.864,16.915,134.805,16.405,3.891,16.405,57.983,1.056,-1.385,28.209,-2.197,-2.231,29.774,0.798,1.569,2.723,-0.871,53.131,0.0,-999.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,-999.000,71.989,36.548,5.042,1.392,5.042,55.892,1.258,-1.414,24.754,-0.414,-0.905,31.137,-0.950,0.380,46.520,2.859,144.665,0.0,-999.000
249996,-999.000,58.179,68.083,22.439,2.585,22.439,50.618,1.162,-1.345,23.416,-1.609,2.776,27.202,0.308,1.042,46.737,-0.867,80.408,0.0,-999.000
249997,105.457,60.526,75.839,39.757,2.390,22.183,120.462,1.202,0.529,35.636,-0.266,-3.132,42.834,0.381,0.851,23.419,-2.890,198.907,1.0,41.992
249998,94.951,19.362,68.812,13.504,3.365,13.504,55.859,0.999,1.414,27.944,-2.211,2.792,27.915,-0.874,-0.296,12.150,0.811,112.718,0.0,-999.000
249999,-999.000,72.756,70.831,7.479,2.025,7.479,83.240,0.936,-1.411,43.003,1.685,2.653,40.236,1.490,0.637,40.729,-1.596,99.405,0.0,-999.000